@charset "UTF-8";
/* import local scss Files */
@import "reset.css";
@import "fonts.css";

* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  font-weight: 300;
  margin: 0;
  font-size: 15px;
}
/* toolkit */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.flowhock {
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
.mt20 { margin-top: 20px !important;}
.mt30 { margin-top: 30px !important;}
.mt40 { margin-top: 40px !important;}
.mt50 { margin-top: 50px !important;}
.mt60 { margin-top: 60px !important;}
.mt70 { margin-top: 70px !important;}
.mt80 { margin-top: 80px !important;}
.mt90 { margin-top: 90px !important;}
.mt100 { margin-top: 100px !important;}
.mb20 { margin-bottom: 20px !important;}
.mb30 { margin-bottom: 30px !important;}
.mb40 { margin-bottom: 40px !important;}
.mb50 { margin-bottom: 50px !important;}

.w100 {width: 100px;}
.w120 {width: 120px;}
.w140 {width: 140px;}

.fix-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 공통 : content > box */
.container {
  min-height: 1080px;
  width: 100%;
}
.container > div[class*="content"] {
  margin: 0 auto;
  padding: 0px 25px;
  width: 100%;
  max-width: 1200px;
}
.container.column .column-row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 25px;
  display: flex;
}
.column-row > .c-column-2 {
  flex-basis: 20%;
}
.column-row > .c-column-3 {
  flex-basis: 30%;
}
.column-row > .c-column-4 {
  flex-basis: 40%;
}
.column-row > .c-column-5 {
  flex-basis: 50%;
}
.column-row > .c-column-6 {
  flex-basis: 60%;
}
.column-row > .c-column-7 {
  flex-basis: 70%;
}
.column-row > .c-column-8 {
  flex-basis: 80%;
}
/* default-btn-set */
a[class*="btn_"],
button ,
input[type=button]
{
  border: 1px solid #ced4da;
  background: #fff;
  color: #212529;;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
}
a[class*="btn_"]:hover,
button:hover 
{
  background-color: #F8F9FA;
  font-weight: 500;
}
/* default-tage-set */
span[class*=-tag] {
  font-size: 10px;
  font-weight: 500;
  padding: 4px 6px;
  border-radius: 999px;
  border: 1px solid transparent;
  background: #ced4da;
}
span.card-small-red-tag {
  color: #EB003B;
  background: #FEECF0;
}
span.card-small-yellow-tag {
  background: #FFF8E9;
  color: #FFB724;
}
span.card-small-green-tag {
  color: #008A1E;
  background: #EEF7F0;
}
span.card-small-blue-tag {
  color: #2768FF;
  background: #E9F0FF;
}
/* input select custom */
.search-inp {
  display: flex;
}
.search-inp input {
  width: 100%;
  height: 46px;
}
select
, input[type="text"] 
{
  border: 1px solid #ced4da;
  padding:10px;
  border-radius:5px;
  cursor: pointer;
}
select:focus
, input[type="text"]:focus
{
  border: 1px solid #333;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  border: 1px solid #dee2e6;
}
th {
  background-color: #f1f1f1;
}
.asterisk::before {
  content: "*";
  color: rgb(240, 61, 12);
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.2rem;
}
hr.dashed{
  margin: 50px 0;
  border-width: 1px 0 0 0; 
  border-style: dashed;
  border-color:#dee2e6;
}
details summary::marker{font-size:0;}
/********** 모달 : modal **********/
/* 모달 부분 분석 */
.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 19, 30, .37);
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.modal-login {
	position: fixed;
	padding: 24px;
	top: 50%;
	left: 50%;
	width: 360px;
	height: 432px;
	background-color: #fff;
	border-radius: 6px;
	z-index: 10;
	transform: translate(-50%, -50%);
	text-align: center;
}

.modal-login .form-input {
	width: 312px;
	margin-bottom: 12px;
	padding: 13px 12px;
	line-height: 1.47;
	font-size: 15px;
	border: 1px solid #dee2e6;
	letter-spacing: -.3px;
	border-radius: 4px;
	background-color: #fff;
}

.modal-login .form-button {
	background-color: black;
	margin: 12px 0;
	width: 312px;
	height: 48px;
	border: 1px solid black;
	border-radius: 4px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.modal-login .modal-action {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
}

.modal-action .action-text {
	line-height: 1.38;
	font-size: 13px;
	color: #616568;
	border-bottom: 1px solid #858a8d;
	cursor: pointer;
}

.modal-action .action-divider {
	margin: 0 8px;
	width: 1px;
	height: 10px;
	background-color: #858a8d;
}

.modal-login .social-login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-login .social-login-line {
	position: relative;
	bottom: -8px;
	display: block;
	margin: 0;
	width: 100%;
	height: 1px;
	background-color: #f1f3f5;
	border: none;
}

.modal-login .social-login-title {
	padding: 0 8px;
	margin-bottom: 16px;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: -.3px;
	color: #abb0b5;
	z-index: 1;
	background-color: #fff;
}

.modal-login .social-buttons {
	display: flex;
	margin: auto;
	column-gap: 12px;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
	cursor: pointer;
}
/********** API 예외 **********/
.toastui-editor-tooltip .text {
  color: #fff;
}
/* ********* problemCollect : 코딩테스트 부분 **********/
.banner-zone {
  width: 100%;
  background: #0F0F13;
  height: 300px;
  color: #fff;
}
.banner-zone .banner-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
}
.banner-zone .banner-content .content-banner-title {
  padding-top: 70px;
}
.banner-zone .banner-content .content-banner-title h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.banner-zone .banner-content .content-banner-title p {
  margin: 2px 0;
}
.banner-zone .banner-content .content-banner-img img:nth-child(1) {
  animation: float 1.5s infinite;
}
.banner-zone .banner-content .content-banner-img img:nth-child(2) {
  animation: float 3s infinite;
}
/* 리스트 박스 부분 */
.list-box-content ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  /* min-width: max-content; */
}
.list-box-content ul li { 
  margin: 10px 0;
}
.list-box {
  overflow: hidden;
  margin: 0 auto;
}
.list-box .toggle_btn {
  position: relative;
  width: 100%;
  min-width: 200px;
  height: 46px;
  padding: 0 20px;
  border: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}
.list-box .toggle_btn::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  display: inline-block;
  transform: rotate(135deg);
  position: absolute;
  right: 17px;
  bottom: 20px;
  transition: 0.2s;
}
.list-box .toggle_btn.on::after {
  transform: rotate(315deg);
  bottom: 15px;
}
.list-box .toggle_btn.on + .list-box-content {
  /* width: inherit; */
  border: 1px solid #666;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  display: block;
  position: absolute;
}
.list-box .list-box-content {
  display: none;
}
/* 리스트 박스 부분 끝 */
.inp-group {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: stretch;
}
.inp-group .select-inp.problem {
  width: 33%;
}
.inp-group .select-inp.problem .list-box-title {
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.problem-tag-item {}
.problem-tag-item button {
  background: #F8F9FA;
  color: #899199;
  font-weight: 400;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.problem-tag-item button:after {
  content: 'x';
  margin: 0 5px;
  /* position: relative; */
  bottom: 1px;
}
.content-problem-board .problem-board-title {
  /* border: 1px solid #000; */
}
.content-problem-board .problem-board-title .filter-group {
  float: right;
}
.content-problem-board .problem-board-title .filter-group .filter:nth-child(1) {
  background: #E9EFFF;
  color: #739AFE;
  border: 1px solid transparent;
}
.content-problem-board .problem-board-title .filter-group .filter:nth-child(2) {
  background: #92B1FF;
  color: #F5F8FF;
  border: 1px solid transparent;
}
.problem-board-table {
  border-radius: 5px;
}
.problem-board-table table {
  border-collapse: collapse;
  border-radius: 10px;
}
.problem-board-table table thead tr th {
  background: #F0F6FD;
  font-size: 14px;
  font-weight: 400;
}
.content-problem-board .problem-board-table-paging .paginate a {
  border: none;
  padding: 9px 5px;
}
.content-problem-board .problem-board-table-paging .paginate a.on {
  background: #0F0F13;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* ********* rank : 랭킹 **********/
.content-rank .content-rank-title {
  margin-top: 50px;
}
.content-rank .content-rank-title .content-rank-title-header .rank_tab_group {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  border-bottom: 1px solid #ced4da;
}
.content-rank .content-rank-title .content-rank-title-header .rank_tab_group li {
  padding-right: 10px;
  color: #868e96;
}
.content-rank .content-rank-title .content-rank-title-header .rank_tab_group li.on a {
  color: #6D5DB1;
}
.content-rank .content-rank-title .content-rank-title-header .rank_tab_group a[class*="btn"] {
  border: none;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}
.content-rank .content-rank-title .content-rank-title-header .rank_tab_group a[class*="btn"]:hover {
  background: none;
  border-radius: 0;
  border-bottom: 2px solid #6D5DB1;
}
.content-rank .content-rank-main .content-rank-box {
  /* border: 1px solid tomato; */
  padding: 20px;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
}
.content-rank .content-rank-main .content-rank-box .content-rank-box-list {
  width: 30%;
  border: 1px solid #D7E2EB;
  border-radius: 5px;
  display: inline-block;
  /* text-align: center; */
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} 
.content-rank .content-rank-main .content-rank-box .content-rank-box-list p b {
  margin-left: 5px;
  font-weight: 400;
}
.content-rank .content-rank-main .content-rank-item-table {
  /* border: 1px solid tomato; */
  margin-top: 40px;
  border-radius: 5px;
}
.content-rank .content-rank-main .content-rank-item-table .content-rank-item-title {
  background: #F0F6FD;
  border-radius: 5px;
}
.content-rank .content-rank-main .content-rank-item-table .content-rank-item-title ul 
, .content-rank .content-rank-main .content-rank-item-table .content-rank-item-body ul
{
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.content-rank .content-rank-main .content-rank-item-table .content-rank-item-body ul {
  border-bottom: 1px solid #ced4da;
}
.content-rank .content-rank-main .content-rank-item-table .content-rank-item-title ul li {
  font-weight: 500;
}
.content-rank .content-rank-main .content-rank-item-table .content-rank-item-title ul li 
, .content-rank .content-rank-main .content-rank-item-table .content-rank-item-body ul li
{
  flex-basis: 100%;
  padding: 15px 0;
}

.content-rank .content-rank-main .content-rank-item-table .content-rank-item-title ul li:first-child 
, .content-rank .content-rank-main .content-rank-item-table .content-rank-item-body ul li:first-child 
{
  margin-left: 20px;
}
.content-rank-item-pluse-view {
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
  margin-top: 10px;
  color: #868686;
}
.content-rank-item-pluse-view a:hover {
  color: tomato;
}
/* 토글 액션 시 */
.content-rank-toggle-menu-item {
  display: none;
}

/* ********* challenge : 코딩테스트 부분 **********/
.challenge-navbar .navbar-breadcrumb { 
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding-left: 10px;
  background: #000;
  display: flex;
  gap: 10px;
  align-items: center;
}
.challenge-navbar .navbar-breadcrumb .active {
  font-weight: bold;
}
.challenge-navbar .navbar-breadcrumb li.active::after {
  content: "";
}
.challenge-navbar .navbar-breadcrumb li {
  color: #fff;
}
.challenge-navbar .navbar-breadcrumb li::marker {
  content: "";
}
.challenge-navbar .navbar-breadcrumb li::after {
  margin-left: 10px;
  content: ">";
}
.wrap .challenge-content .challenge-nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #737373;
  align-items: center;
}
.challenge-nav .nav-item {}
.challenge-nav .nav-item i.xi-bookmark-o,
.challenge-nav .nav-item i.xi-bookmark { 
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.challenge-nav .nav-item i.xi-bookmark-o::before,
.challenge-nav .nav-item i.xi-bookmark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
} 
.challenge-nav .nav-item .challenge-title {
  margin-left: 10px;
  font-weight: 500;
}
.challenge-nav .nav-item .dropdown-language .dropdown-menu .dropdown-item {
  display: inline-block;
  border: 1px solid #737373;
  background: #fff;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}
.challenge-nav .nav-item .dropdown-language .dropdown-menu .dropdown-item:hover {
  background: #d0e1ff;
  color: #44576c;
  transition: .4s all;
}
/* challenge-content : background-color-validation */
.wrap .challenge-content .challenge-content-list {
  min-height: 45rem;
  padding: 10px 20px;
  display: flex;
  background-color: #263747;
}
.wrap .challenge-content .challenge-content-list .challenge-content-question {
  max-width: 40%;
  border-right: 1px dashed #fff;
  padding-right: 20px;
}
.wrap .challenge-content .challenge-content-list .challenge-content-run {
  min-width: 60%;
  padding-left: 20px;
}
.wrap .challenge-content .challenge-content-list .challenge-content-question .guide-section-title
, .wrap .challenge-content .challenge-content-list .challenge-content-run .guide-section-title {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #fff;
}
.wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section code {
  background-color: #202B3D;
  color: #CDD7E0;
  padding: 2px 5px;
  border: 1px solid #172334;
  margin: 0 2px;
  border-radius: .3rem;
}
/* challenge-content : font-color-validation */
.wrap .challenge-content .challenge-content-list .challenge-content-question .guide-section-title
, .wrap .challenge-content .challenge-content-list .challenge-content-run .guide-section-title
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section p
, .wrap .challenge-content .challenge-content-list .challenge-content-run p 
, .wrap .challenge-content .challenge-content-list .challenge-content-run .resultArea
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section > *
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section ul li
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section ol li
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section dl dd
{
  color: #fff;
}
.challenge-content-run .editor textarea {
  width: inherit;
  height: inherit;
  resize: none;
  outline: none;
  border: none;
  background: inherit;
  color: #fff;
}
/* bottom-list */
.wrap .challenge-content .bottom-list {
  padding: 20px;
  background: white;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.wrap .challenge-content .bottom-list .testcase-button
, .wrap .challenge-content .bottom-list .func-buttons .btn_check 
, .wrap .challenge-content .bottom-list .func-buttons .btn_forward 
, .wrap .challenge-content .bottom-list .func-buttons .btn_login 
{
  background: #263747;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.wrap .challenge-content .bottom-list .testcase-button:hover
, .wrap .challenge-content .bottom-list .func-buttons .btn_check:hover 
, .wrap .challenge-content .bottom-list .func-buttons .btn_forward:hover 
, .wrap .challenge-content .bottom-list .func-buttons .btn_login:hover 
 {
  border-color: #37485D;
  background-color: #37485D;
  color: white;
  transition: .4s all;
}
/************************ header *************************/
header {
  border-bottom: 1px solid #E7E7E7;
  background-color: #FFFFFF;
}
.main-navbar {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  justify-content: space-between;
}
.main-navbar .main-navbar-list { 
  height: 50px;
  margin: 0;
  display: flex;
}
.main-navbar .main-navbar-list .main-list-item {
  padding-left: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-navbar .main-navbar-list .main-list-item li.active::after {
  content: "";
}
.main-navbar .main-navbar-list .main-list-item li {
  color: #000;
}
.main-navbar .main-navbar-list .main-list-item li::marker {
  content: "";
}
.main-navbar .main-navbar-list .main-list-item li::after {
  margin-left: 10px;
}
.main-navbar .main-navbar-list .main-list-item.login {
  font-size: 12px;
  align-items: center;
  gap: 10px;
}
.main-navbar .main-navbar-list .main-list-item.login .login_profile {
  text-align: center;
  align-items: center;
  display: flex;
}
.main-navbar .main-navbar-list .main-list-item li a:hover {
  font-weight: 400;
}
/* 기본 default 값이 숨김 처리 */
.main-nav-list-menu {
  display: none;
  transition: all 0.2s;
}
.main-nav-list-menu.active {
  display: block;
  position: absolute;
  top: 50px;
  width: 100%;
  background: #fff;
  animation: fadeIn .3s ease-in-out;
}
.main-nav-list-menu .main-nav-list-menu-item {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 225px;
  flex-basis: 1em;
}
.main-nav-list-menu .main-nav-list-menu-item .menu-item {
  flex-basis: 150px;
}
.main-nav-list-menu .main-nav-list-menu-item ul {
  list-style: none;
  padding-left: 0;

}
.main-nav-list-menu .main-nav-list-menu-item ul li {
  padding: 8px 0;
  margin: 0;
}
.main-nav-list-menu .main-nav-list-menu-item ul li a:hover {
  font-weight: 400;
}  
.main-nav-list-menu .main-nav-list-menu-item ul li b {
  color: #0F2B61;
}
.main-nav-list-menu .main-nav-list-menu-item .menu-item {
  padding: 0 5px;
}
/************************ footer *************************/
#footer {
  /* margin-top: 100px; */
}
footer {
  background: #000;
  margin: 0 auto;
  height: 250px;
}
footer .footer-content {
  padding: 50px 0;
}
footer .footer-content p 
,footer .copy 
{
  padding: 0 25px;
  font-size: 12px;
  color: #fff;
  margin: 0 auto;
  max-width: 1200px;
}
footer .footer-sub .btn_admin_go {
  margin: 20px;
}

/************************ join *************************/
div[class*="-form"] {
  padding: 10px 0;
}
/************************ Mypage *************************/
.column-row.myPage {
  gap: 20px;
}
.column-row.myPage h5 {
  margin: 40px 0 10px 0;
  font-size: 16px;
}
.column-row.myPage h5:first-child {
  margin: 10px 0;
}
.bgcontain-mypage {
  background: #F9FAFB;
  padding: 50px 0;
  width: 100%;
  height: 100%;
}
.mypage_menu 
, .mypage_box
{
  padding: 20px;
  border: 1px solid #D7E2EB;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mypage_menu ul 
,.mypage_menu ol
{
  list-style-type: none;
  padding-left: 0;
}
.mypage_menu ol {
  margin-left: 10px;
}
.mypage_menu ul li {
  padding: 8px 10px;
}
.mypage_menu ul li:hover {
  background: #f8fafc;
  border-radius: 5px;
  color: #0089FF;
  font-weight: 500;
}
.mypage_menu ul li.active {
  background: #E6F2FF;
}
.mypage_menu ul li ol li {
  margin-left: 10px;
}
.mypage_box .mypage_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mypage_box .mypage_profile .profile_img {
  width: 150px;
  height: 150px;
  /* background: tomato; */
  border-radius: 999px;
}
.mypage_box .mypage_profile .profile_name .profile_email {
  font-weight: 500;
}
.mypage_box .mypage_profile .profile_name .profile_email_crtf 
, .mypage_box .mypage_profile .profile_name .profile_email_crtf_ok
{
  color: #51B250;
}
.mypage_box .mypage_profile .profile_name .profile_email_crtf_ok i {
  font-size: 18px;
  position: relative;
  top: 2px;
}
.mypage_box .mypage_profile .profile_img img {
  width: inherit;
}
.mypage_box .profile_list ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.mypage_box .profile_list ul li {
  padding: 5px 0;
}
.mypage_box .profile_list ul li b { 
  font-weight: 400;
}
.mypage_box .profile_list h6 {
  font-size: 14px;
  margin-top: 20px;
}
.mypage_box .profile_btn_grup
, .mypage_box .profile_list .profile_btn_grup {
  text-align: right;
  border-top: 1px dashed #D7E2EB;
  padding: 30px 0 15px 0;
  margin-top: 50px;
}
.mypage_box .profile_list .profile_btn_grup input[type="button"] {
  margin-right: 10px;
}
.mypage_box .profile_btn_grup input[type="button"]:hover
, .mypage_box .profile_list .profile_btn_grup input[type="button"]:hover {
  background: #B5DAFF;
  border: 1px solid transparent;
  transition: .4s all;
}
.mypage_box .mypage_box_item {
  margin: 20px 0;
}
.mypage_box .mypage_box_item h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

/************************ main *************************/
/* main : banner */
.container .main-banner {
  background: #100B12;
}
.container .main-banner .main-banner-item {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.container .main-banner .main-banner-text {
  /* border: 1px solid tomato; */
  padding: 0 25px;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .main-banner .main-banner-text p {
  margin: 0;
  font-size: 1.2em;
  animation: fadeInDown .5s;
}
.container .main-banner .main-banner-text p
, .container .main-banner .main-banner-text p strong {
  color: #fff;
}
.container .main-banner .main-banner-text button {
  margin-top: 20px;
  animation: fadeInDown 1s;
}
.container .main-banner .banner-img img {
  width: auto;
  height: 450px;
}
/* main-content */
.main-content .content-box .box-item h3 {
  font-size: 20px;
}
.main-content .content-box .box-item .item-quick {
  padding-top: 85px;
  text-align: center;
}
.main-content .content-box .box-item .item-quick .quick-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 30px;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list {
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #f3f3f3;
  cursor: pointer;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list i {
  font-size: 30px;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list i:hover {
  transition: .4s all;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list:nth-child(1) i:hover {
  color: gold;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list:nth-child(2) i:hover {
  color: crimson;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list:nth-child(3) i:hover {
  color: slateblue;
}
.main-content .content-box .box-item .item-quick .quick-box .quick-box-list p {
  margin: 15px 4px auto;
}
.main-content .content-box .box-item .item-card {
  padding-top: 130px;
}
.main-content .content-box .box-item .item-card .card-ui-box {
  display: flex;
  gap: 25px;
  padding-top: 2px;
  justify-content: center;
}
.main-content .content-box .box-item .item-card .card-ui-list {
  /* border: 1px solid tomato; */
  border-radius: 8px;
  max-width: 266px;
  /* height: 300px; */
  margin-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.main-content .content-box .box-item .item-card .card-ui-list:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.main-content .content-box .box-item .item-card .card-ui-list img {
  width: 100%;
  text-align: center;
  /* border: 1px solid tomato; */
}
.main-content .content-box .box-item .item-card .card-ui-list hr {
  margin: 20px;
  background: #ebebeb;
  height: 1px;
  border: 0;
}  
.main-content .content-box .box-item .item-card .card-ui-list .card-ui-list-title {
  font-size: 18px;
  font-weight: 500;
}
.main-content .content-box .box-item .item-card .card-ui-list .card-ui-box-rank {
  margin: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.main-content .content-box .box-item .item-middle-card {
  padding-top: 135px;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box {
  display: flex;
  gap: 25px;
  padding-top: 30px;
  justify-content: center;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list {
  /* border: 1px solid tomato; */
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 320px;  
  height: 135px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list img {
  border-radius: 999px;
  border: 1px solid transparent;
  width: 100px;
  height: 100px;
  margin: 0 20px;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list:hover {
  background: #f2faff;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list img:hover {
  -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list .card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list .card-item .card-profile p {
  font-size: 14px;
  margin: 0 auto;
  font-weight: 500;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list .card-item .card-profile .profile-rank {
  font-weight: 300;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list .card-item .card-rank-area {
  display: block;
  font-size: 12px;
}
.main-content .content-box .box-item .item-middle-card .item-middle-ui-card-box .card-middle-ui-list .card-item .card-rank-area span b {
  padding: 0 2px ;
}
/* ********* notice-list-board ********* */
.content-board-notice {
  margin-top: 20px;
}
.content-board-notice h2 {
  background: #252525;
  color: #fff;
  /* border-radius: 5px; */
  padding: 30px 0 25px 20px;
}
.content-board-notice h2 p {
  color: #fff;
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
.content-board-notice .board-notice-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-board-notice .board-notice-list li {
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px dashed #8CABBF;
}
.content-board-notice .board-notice-list li .xi-new {
  color: #8CABBF;
}
.content-board-notice .board-notice-list li p {
  margin: 0;
  padding-top: 5px;
}
.content-board-notice .board-notice-list li span {
  /* background: tomato; */
  font-size: 12px;
}
.content-board-notice .board-notice-list li span b {
  padding: 0 5px;
}
/* ********* notice-list-board-write ********* */
.content-board-notice-write .content-board-notice-write-wrap {
  margin-top: 100px;
}
.content-board-notice-write .content-board-notice-write-wrap .category-menu
, .content-board-notice-write .content-board-notice-write-wrap .category-title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.content-board-notice-write .content-board-notice-write-wrap label {
  font-weight: 500;
}
/* ********* notice-list-board ********* */
.board-notice-view .profile-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.board-notice-view .profile-title img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}
.board-notice-view .profile-title .profile-title-content p {
  margin: 0;
}
.board-notice-view .profile-title .profile-title-content .profile-name {
  font-weight: 400;
}
.board-notice-view .profile-title .profile-title-content .profile-date {
  font-size: 14px;
  color: #777777;
}
.board-notice-view .board-notice-view-content > p {
  min-height: 400px;
}
.board-notice-view .board-notice-view-content .btn_group {
  text-align: right;
}
.board-notice-view .notice-view-title .notice-view-title-head {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 35px;
  padding: 20px 0;
  color: #212529;
}
.board-notice-view .notice-view-title .notice-view-title-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ********* free-board ********* */
.content-board-free .content-board-free-content {
  /* border: 1px solid tomato; */
  padding: 20px 0;
}
.content-board-free .content-board-free-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.content-board-free .content-board-free-title .board-free-btn {
  background: #2A5C96;
  padding: 12px 10px;
  color: #fff;
  font-size: 13px;
}
.content-board-free .content-board-free-title .board-free-btn:hover {
  background: #003675;
}
.content-board-free .content-board-free-content .free-content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.content-board-free .content-board-free-content .free-content-box .content-box-item {
  flex-basis: 30%;
  padding: 10px;
  background: #FFC8C1;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}
.content-board-free .content-board-free-content .free-content-box .content-box-item:hover {
  border: 1px solid #FE7565; 
}
.content-board-free .content-board-free-content .free-content-box .content-box-item:nth-child(odd) {
  background: #D2DCFE;
}
.content-board-free .content-board-free-content .free-content-box .content-box-item:nth-child(odd):hover {
  border: 1px solid #4971FD;
}
.content-board-free .content-board-free-content .free-content-box .content-box-item h5 {
  font-size: 14px;
}
.content-board-free .content-board-free-content .free-content-box .content-box-item h4 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #0B1F65;
}
.content-board-free .content-board-free-content .free-content-box .content-box-item:nth-child(even) h4 {
  color: #893228;
}
.content-board-free .content-board-free-content .free-content-box .content-box-item h5 
, .content-board-free .content-board-free-content .free-content-box .content-box-item p
{
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
}
.content-board-free .content-board-free-content .free-content-box .content-box-item .content-title {
  margin: 10px 0;
  font-size: 14px;
}
.content-box-item .profile-title {
  margin-top: 10px;
  font-size: 13px;
}
.content-box-item .profile-title + p {
  margin: 0;
  padding: 0;
  background: silver;
}
.content-box-item .profile-title .profile-name {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.content-box-item .profile-title .profile-date {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.content-box-item .profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
}
.content-box-item .profile-item ol {
  list-style: none;
  padding-left : 0;
  display: flex;
  gap: 5px;
  margin: 0;
}
.content-box-item .profile-item ol li i {
  padding: 0 5px 0 0;
}
/* ********* free-board-view ********* */
.content-board-free-view .content-board-free-view-wrap {
  margin: 80px auto;

}
.content-board-free-view .content-board-free-view-wrap h4 {
  background: #D2DCFE;
  color: #0B1F65;
  display: inline-block;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
.content-board-free-view .content-board-free-view-wrap h5 {
  font-size: 18px;
  margin: 10px 0;
}
.content-board-free-view .content-board-free-view-wrap p {
  line-height: 155%;
}
.content-board-free-view .profile-title {
  /* background: tomato; */
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-top: 25px;
}
.content-board-free-view .profile-title img {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  /* border: 1px solid #000; */
  border-radius: 999px;
}
.content-board-free-view .profile-title .profile-date {
  color: #777777;
}
.content-board-free-view .profile-title .profile-title-content p {
  margin: 0;
}
.free-review-list .free-review-list-title {}
.free-review-list .free-review-list-title .profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #777;
}
.free-review-list .free-review-list-title .profile-title .profile-title-content {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
.free-review-list .free-review-list-title .profile-title .profile-title-content img {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 999px;
}
.free-review-list .free-review-list-title .profile-title .profile-title-content .profile-date {
  color: #777;
}
.free-review-list .free-review-list-title .profile-title .profile-title-content p {
  margin: 0 4px;
}
.free-review-list .free-review-list-title ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.free-review-list .free-review-list-title ol li {
  display: inline;
}
.free-review-list .free-review-list-content {}
.free-review-list .free-review-list-content p {
  line-height: 155%;
}
.free-review-list .free-review-list-content .user-free-board-tab {
  text-align: right;
  margin-bottom: 20px;
}
.free-review-list .free-review-list-content .btn_eidt {
  background: #969aa5;
  border: none;
  color: #fff;
  font-weight: 400;
}
.free-review-list .free-review-list-content .btn_eidt:hover {
  background: #333;
}
.content-board-free-view .profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 15px 0;
}

.content-board-free-view .content-board-free-view-wrap .profile-item ol {
  list-style: none;
  padding-left : 0;
  display: flex;
  gap: 5px;
  margin: 0;
}
.content-board-free-view .content-board-free-view-wrap ol li i {
  padding: 0 5px 0 0;
}
.content-board-free-view .content-board-free-view-wrap ol:nth-child(2) li i {
  cursor: pointer;
}
.content-board-free-view-review .free-review-box h5 {
  padding: 50px 0 10px 0;
}
.content-board-free-view-review .free-review-box .free-review-list {
  border: 1px solid #e6eef5;
  padding : 10px 20px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  background: #fff;
}
.content-board-free-view-review .free-review-box .free-review-list ol li i{
  cursor: pointer;
}
.content-board-free-view-write h5 {
  margin: 85px 0 10px 0;
}
.content-board-free-view-write .view-write-btn {
  margin-top: 10px;
  background: #246BEB;
  color: #fff;
  border: none;
}
.content-board-free-view-write .view-write-btn:hover {
  background: #16408D;
  transition: .4s all;
}
/********** 채팅방 바로가기 : chatmain **********/
.chat-title-nav .chat-title {
  /* border: 1px solid #000; */
  margin-bottom: 20px;
}
.chat-title-nav .chat-title .filter-group {
  float: right;
  margin-bottom: 20px;
}
.chat-title-nav .chat-title .filter-group button:nth-child(1){
  background: #E9EFFF;
  color: #739AFE;
  border: 1px solid transparent;
}
.chat-title-nav .chat-title .filter-group button:nth-child(2){
  background: #92B1FF;
  color: #F5F8FF;
  border: 1px solid transparent;
}
.chat-title h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.chat-tag-wrap {
  margin-bottom: 30px;
}
.chat-tag-wrap h4 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.chat-tag-wrap .chat-tag-item button {
  background: #F8F9FA;
  color: #899199;
  font-weight: 400;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.chat-tag-wrap .chat-tag-item button::after {
  content: 'x';
  margin: 0 5px;
  position: relative;
  bottom: 1px;
}
.content-chat-wrap details summary {
  background: #222;
  color: #fff;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  cursor: pointer;
}
.content-chat-wrap details[open] summary{
  background: #363D7A;
}
.content-chat-wrap .chat-list {
  max-height: 500px;
  gap: 20px;
  overflow-y: auto;
  background: #f5f5f5;
}
.content-chat-wrap .chat-list .chat-list-head {
  width: 100%;
  padding : 10px 25px;
  background: #fff;
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(0,212,255,0) 100%);
}
.content-chat-wrap details summary i{
  margin-right: 10px;
}
.content-chat-wrap .chat-list .chat-list-item {
  /* border: 1px solid rebeccapurple; */
  border: 1px solid silver;
  background: #fff;
  border-radius: 5px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  margin: 20px 25px;
}
.content-chat-wrap .chat-list .chat-list-item:hover {
  box-shadow: rgba(212, 180, 241, 0.2) 0px 8px 24px;
  background: #fbfbff;
}
.content-chat-wrap .chat-list .chat-list-item img {
  width: 150px;
  border-radius: 999px;
  background: #f8f8f8;
  margin: 0 20px;
}
.content-chat-wrap .chat-list .chat-list-item ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.content-chat-wrap .chat-list .chat-list-item ol li {
  padding: 5px 0;
}
.content-chat-wrap .chat-list .chat-list-item ol .title {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  padding-bottom: 20px;
}
.content-chat-wrap .chat-list .chat-list-item ol .meet-user {
  font-size: 14px;
}
.content-chat-wrap .chat-list .chat-list-item ol .meet-user span {
  font-weight: 400;
}
.content-chat-wrap .chat-list .chat-list-item ol .user {
  display: flex;
  gap: 10px;
}
.content-chat-wrap .chat-list .chat-list-item ol .user b {
  font-weight: 400;
}
.content-chat-wrap .chat-list .chat-list-item ol .user p {
  margin: 0;
}
/* 채팅 상세보기 : chatView */
.chat-content {}
.chat-content .chat-view-nav {
  background: #000;
  width: 100%;
  color: #fff;
}
.chat-content .chat-view-nav .chat-view-nav-title {}
.chat-content .chat-view-nav .chat-view-nav-title ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.chat-content .chat-view-nav .chat-view-nav-title ul .profile {
  display: flex;
}
.chat-content .chat-view-body {
  height: 850px;
  padding: 20px;
  background: #DFE6F2;
  overflow-y: auto;
}
.chat-content .chat-view-body ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.chat-content .chat-view-body .chat-your 
, .chat-content .chat-view-body .chat-me
{
  display: flex;
  padding: 10px 0;
  gap: 10px;
}
.chat-content .chat-view-body .chat-me {
  justify-content: flex-end;
}
.chat-content .chat-view-body .chat-your img 
, .chat-content .chat-view-body .chat-me img
{
  width: 50px;
  height: 50px;
  background: silver;
  border-radius: 999px;
}
.chat-content .chat-view-body .chat-your .date 
, .chat-content .chat-view-body .chat-me .date 
{
  margin: 0;
  align-self: flex-end;
}
.chat-content .chat-view-body .chat-your .chat-message {
  background: #ffffff;
  width: 50%;
  padding: 15px 20px 15px;
  border-radius: 0 25px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.chat-content .chat-view-body .chat-me .chat-message-user {
  background: #3F527C;
  width: 50%;
  padding: 15px 20px 15px;
  border-radius: 25px 0 25px 25px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.chat-content .chat-send-message {
  background: #DFE6F2;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.chat-content .chat-send-message input[type="text"] {
  width: 90%;
}
.chat-content .chat-send-message button {
  width: 5%;
  padding: 11px;
}
.chat-content .chat-send-message button i.xi-plus-circle {
  font-size: 15px;
}
.chat-view-body .chat-start-message 
, .chat-view-body .chat-start-end
{
  background: #bccfff;
  color: #00216e;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 999px;
}
.chat-view-body .chat-start-end {
  background: #F1F1F1;
}
/* 채팅 사이드바 커스텀 */
.chat-nav-side {
  position: absolute;
  top: 51px;
  right: 375px;
  bottom: 0;
  background: #fff;
  width: 400px;
  height: 893px;
  z-index: 1;
  padding: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.15) -8px 0px 8px;
}
.chat-nav-side.active {
  display: block;
}
.chat-nav-side .chat-nav-side-item {
  padding: 10px 0;
}
.chat-nav-side .chat-nav-side-item:nth-child(1) {
  margin-top: 20px;
}
.chat-nav-side .chat-nav-side-item .user-box {}
.chat-nav-side .chat-nav-side-item .btn_group a[class="btn"] {
  /* border: 1px solid #000; */
  padding: 8px 5px;
  border-radius: 5px;
  color: #3F527C;
  font-weight: 400;
}
.chat-nav-side .chat-nav-side-item .btn_group a[class="btn"]:hover {
  background: #DFE6F2;
  color: #3F527C;
  font-weight: 500;
}
.chat-nav-side .chat-nav-side-item .attach-photo-box .attach-item {
  width: 100px;
  height: 100px;
  background: rgb(248, 248, 248);
  display: inline-block;
  border-radius: 5px;
  margin: 10px 5px 0 ;
}
.chat-nav-side .chat-nav-side-item .attach-photo-box .attach-item img {
  width: auto;
  height: inherit;
}
.chat-nav-side .chat-nav-side-item .attach-file-box p 
, .chat-nav-side .chat-nav-side-item .user-box p
{
  margin: 5px 0;
}
.chat-nav-side .chat-nav-side-item .tag-box {
  margin: 10px 0;
}

/********** 관리자 : admin **********/
.system-menu {
  /* position: fixed; */
  padding: 20px;
  margin-right: 20px;
  border: 1px solid#ced4da;
  border-radius: 10px;
}
.system-menu h4 {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #000;
}
.system-menu h4 i {
  position: relative;
  right: 3%;
}
.system-menu h4 a:hover {
  color: #003675;
}
.system-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.system-menu ul li {
  margin: 5px 0;
}
.system-menu ul li a {
  padding: 8px 10px; 
  display: block; 
  font-size: 14px; 
  border-radius: 4px; 
}
.system-menu ul li a:hover {
  background-color: #f0f0f0; 
}
/* 블럭처리로 네비 */
.sub-menu {
  display: none; 
  padding: 0; 
  margin: 0; 
}
.system-menu ul li:hover .sub-menu {
  display: block; 
}
/* 블럭처리로 네비 끝 */
.sub-menu li {
  margin: 5px 0; 
  padding-left: 10px; 
}
.sub-menu a {
  font-size: 14px; 
} 
.sys-system_menu h2 {
  text-align: center;
  margin-bottom: 30px;
}
.sys-system_menu .search-bar {
  display: flex;
  width: 100%;
  gap: 10px;
}
.btn_search
, a.btn_view 
{
  background-color: #003675;
  padding: 10px 20px;
  color: #fff;
  border: none;
}
.btn_search:hover 
, a.btn_view:hover 
{
  background: #002B5E;
  color: #fff;
  border: none;
}
a.btn_delete {
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
  color: #fff;
}
a.btn_delete:hover {
  background-color: #c82333;
}
/* .sys-system_menu -- 테이블 위에 공간 아이템 TO-DO */
.sys-system_menu .sys-description-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.paginate {
  width: 100%;
  display: flex;
  /* gap: 5px; */
  justify-content: center;
}
.paginate a {
  display: inline-block;
  border: 1px solid #dee2e6;
  padding: 8px 5px;
  width: 40px;
  text-align: center;
  /* border-radius: 5px; */
}
.paginate a:first-of-type {
  border-radius: 8px 0px 0 8px;
}
.paginate a:last-of-type {
  border-radius: 0 8px 8px 0;
}
.paginate a:hover {
  border: 1px solid #16408D;
  color: #16408D;
  font-weight: 400;
}
.paginate a.on {
  background: #003675;
  border: none;
  font-weight: 500;
  color: #fff;
}

/* animation kit */
.fadeInDown {
  animation: fadeInDown 1s;
}
.rotate-vert-center {
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.slide-left {
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-right {
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
  }
  100% {
      opacity: 1;
      transform: translateZ(0);
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes float {
  0% {transform: translateY(0%);}
  50% {transform: translateY(3%);}
  100% {transform: translateY(0%);}
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;

  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
            opacity: 0;
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* 예외 리사이징 */
@media (max-width: 1080px) {
  .chat-nav-side {right: 0;}
}